PORT=3002
MONGO_URI=mongodb://mongo-issue:27017/issue_db
NVIDIA_API_KEY=
ASSIGNMENT_SERVICE_URL=http://assignment-service:3003
NOTIFICATION_SERVICE_URL=http://notification-service:3004
NODE_ENV=development
