PORT=3004
MONGO_URI=mongodb://mongo-notification:27017/notification_db
CITIZEN_SERVICE_URL=http://citizen-service:3001
SMTP_HOST=smtp.mailtrap.io
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
NODE_ENV=development
